@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.header-links {
  margin: 20px;
  padding: 10px;
  /* padding: 0 5px;
	box-shadow: inset 0 0 0 0 rgb(139, 186, 136); */
	transition: all 0.5s ease-in-out 0s; 
  border-bottom: 2px solid rgb(139, 186, 136);
}

.header-links:hover{
  /* box-shadow: inset 0 -300px 0 0 white; */
  padding: 10px;
  background-color: rgb(139, 186, 136);
  color: white;
}

a {
  text-decoration: none;
  color: green;

}

section {
  margin: 150px 0px 0px 70px;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  /* width: 100vw; */
}

@keyframes name-animation {
  0% { color: yellowgreen; }
  25% { color: green; }
  50% { color: black; }
  75% {color: green;}
  100% {color: yellowgreen;}
}

.header-text {
  font-size: 40px;
  font-weight: bold;
  animation: name-animation 2s infinite;
}

#about {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(139, 186, 136);
}

.aboutHeader {
  margin-left: 30px;
}

.aboutP {
max-width: 600px;
margin-left: 150px;
font-size: 20px;
}

#project-title {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-top: 70px;
}

h1 {
  padding-right: 60px;
}

#projects {
  margin-left: 150px;
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  gap: 50px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: rgb(139, 186, 136);
  color: white;
  transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
  color: black;
}

.flip-card-back {
  background: url(./img/war.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}

.card1 {
  background: url(./img/trivia.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}

.card2 {
  background: url(./img/war.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}

.card3 {
  background: url(./img/lotr-site.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: contain;
}


footer {
  width: 97%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  filter: brightness(0%);
}

.github-img {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  font-size: 37px;
}

.github-img:hover {
  top: -10px;
}

.linkedin-img {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  font-size: 37px;
}

.linkedin-img:hover {
  top: -10px;
}

.email {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  font-size: 35px;
}

.email:hover {
  top: -10px;
}

i {
  width: 40px;
  height: auto;
  padding: 10px;
}

.footer-image {
  width: 40px;
  height: auto;
  padding: 5px;
}

.scrollArrow {
  position: fixed;
  left: 0;
  top: 0;
  transition: top ease 0.5s;
  margin-left: 15px;
  font-size: 30px;
  opacity: 0; 
}

.scrollArrow.active{  
  opacity: 1; 
} 

.scrollArrow:hover {
  top: -10px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 576px) {
  .header--text {
    animation: none;
  }
}